@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

    *{
        font-family: "Montserrat", sans-serif;
    }

    body{
        background-color: white;
        font-family: "Montserrat", sans-serif;
    } */

/* From Uiverse.io by BlackisPlay */

:root{
  --global-color: rgb(87, 0, 163);
  --global-black : rgb(0, 0, 0);
}

#preload {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}

#preload > * {
  transition: 0.3s;
}

#preload.loaded > * {
  opacity: 0;
}

#preload.loaded {
  transition-delay: 250ms;
  transform: translateY(100%);
}

#circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid white;
  border-top-color: var(--global-color); /* cleaner than border-block-start-color */
  position: relative;
  animation: circle 1.5s ease-in-out infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}


#text {
  background-image: linear-gradient(90deg, var(--global-color), #fff); /* fallback gradient */
  background-size: 500%;
  font-size: calc(1rem + 2vw);
  font-weight: bold;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 16px;
  padding-inline-start: 16px;
  margin-top: 20px;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.5px var(--global-black, #000);
  animation: loading 1.5s linear infinite;
}

@keyframes loading {
  0% {
    background-position: 100%;
  }
  50% {
    background-position: 0%;
  }100% {
    background-position: 100%;
  }
}
